nvar<int> = int
var<int> = int
var<int> += var<int>
var<int> += int
var<int> -= var<int>
var<int> -= int
avar<int> += avar<int>
avar<int> += var<int>
avar<int> += int
avar<int> -= avar<int>
avar<int> -= var<int>
avar<int> -= int
if var<int> < var<int>
if var<int> < int
if var<int> > var<int>
if var<int> > int
if var<int> <= var<int>
if var<int> <= int
if var<int> >= var<int>
if var<int> >= int
if var<int> == var<int>
if var<int> == int
def nfunc<void>()
def nfunc<void>(pvar<int>)
def nfunc<void>(pvar<int>,pvar<int>)
def nfunc<int>()
def nfunc<int>(pvar<int>)
def nfunc<int>(pvar<int>,pvar<int>)
return var<int>
func<void>()
func<void>(var<int>)
func<void>(var<int>,var<int>)
var<int> = func<int>()
var<int> = func<int>(var<int>)
var<int> = func<int>(var<int>,var<int>)
avar<int> = func<int>()
avar<int> = func<int>(var<int>)
avar<int> = func<int>(var<int>,var<int>)
