nvar<int> = int
var<int> = int
var<int> += var<int>
var<int> += int
var<int> -= var<int>
var<int> -= int
avar<int> += avar<int>
avar<int> += var<int>
avar<int> += int
avar<int> -= avar<int>
avar<int> -= var<int>
avar<int> -= int
if var<int> < var<int>
if var<int> < int
if var<int> > var<int>
if var<int> > int
if var<int> <= var<int>
if var<int> <= int
if var<int> >= var<int>
if var<int> >= int
if var<int> == var<int>
if var<int> == int
def nfunc()
def nfunc(pvar<int>)
def nfunc(pvar<int>,pvar<int>)
func()
func(var<int>)
func(var<int>,var<int>)
return
return var<int>
