nvar<int> = int
var<int> = int
var<int> += var<int>
var<int> += int
var<int> -= var<int>
var<int> -= int
if var<int> < var<int>
if var<int> < int
if var<int> > var<int>
if var<int> > int
if var<int> <= var<int>
if var<int> <= int
if var<int> >= var<int>
if var<int> >= int
if var<int> == var<int>
if var<int> == int
def nfunc()
def nfunc(pvar<int>)
def nfunc(pvar<int>,pvar<int>)
func()
func(avar<int>)
func(avar<int>,avar<int>)
